# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Windows & Linux
Thumbs.db
ehthumbs.db
*~

# Dependencias Node
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Compilación y paquetes de distribución
dist/
*.zip
*.crx
*.xpi

# Archivos de entorno y claves privadas
.env
.env.local
.env.*.local
*.pem
*.key

# Editores y entornos de desarrollo (IDEs)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Archivos temporales y de caché
.cache/
*.tmp
*.bak
